<nav>
    <ul>
        {% for item in navigation.item %}
        <li>
            <a href="{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>